
@font-face {
    font-family: 'Blade Runner Movie Font';
    font-style: normal;
    font-weight: normal;
    src: local('Blade Runner Movie Font'), url('blade_runner.woff') format('woff');
    }

h1 {
	font-family: 'Blade Runner Movie Font';
	font-weight: 200;
	color: white;
}